* {
  box-sizing: border-box;
}

body {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 70%;
  margin: 0 auto;
}

@media (max-width: 960px) {
  body {
    max-width: 90%;
  }
  
  main {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 84%;
  }
  
  main {
    max-width: 100%;
    margin-top: 35px;
  }
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

p {
  margin: 0;
  font-size: 0.9rem;
}

/* homepage - work */

a {
  text-decoration: none;
  color: black;
}

.tiles {
  display: flex;
  width: 50%;
  margin-top: 7%;
  font-weight: 900;
}
  
  /*transform: scale(1);
  transition: all .5s ease;
}

.tiles:hover {
  transform: scale(1.1);
}
*/

.tiles img {
  width: 100%;
  align-self: flex-start;
  margin-left: 1rem;
}

.tiles-description {
  align-self: flex-end;
  max-width: 15%;
  margin-left: 3%;
}

.tiles-verticaltext p {
  transform: rotate(-90deg);
  transform-origin: right;
  white-space: nowrap;
}

.work-two {
  margin-left: 30%;
}

.work-three {
  margin-left: 0%;
}

.work-four {
  margin-left: 30%;
}

.intro-link {
  text-decoration: underline; 
}

#work {
  padding-top: 5%;
}

.img-wrapper {
  height: 300px;
  width: 100%;
  margin-left: 4%;
  transform: scale(1);
  transition: all .5s ease;
}

.img-wrapper:hover {
  transform: scale(1.05);
}

.img-wrapper-one {
  background: linear-gradient(rgba(255, 165, 0, 0), rgba(255, 0, 0, 0)),
  url(../../images/work-atm-app.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  
}

.img-wrapper-one:hover {
  background: linear-gradient(rgba(255, 165, 0, 1), rgba(255, 0, 0, 1)),
  url(../../images/work-atm-app.jpg);
  background-size: cover;
  text-align: center;
  background-blend-mode: multiply;
  background-position: center;
  
}

.img-wrapper-two {
  background: url(../../images/work-armani.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

.img-wrapper-two:hover {
  background: linear-gradient(#00ff81, #00a3bd),
  url(../../images/work-armani.jpg);
  background-size: cover;
  text-align: center;
  background-blend-mode: multiply;
  background-position: center;
}

.img-wrapper-three {
  background: url(../../images/work-oakley.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

.img-wrapper-three:hover {
  background: linear-gradient(#ff0000, #ff0000, #9343ff),
  url(../../images/work-oakley.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

.img-wrapper-four {
  background: url(../../images/work-tuesdays-magazine.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

.img-wrapper-four:hover {
  background: linear-gradient(#00ffd0, #1434d2),
  url(../../images/work-tuesdays-magazine.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}


@media (max-width: 768px) {
  .tiles {
    display: block;
    width: 100%;
  }
  
  .img-wrapper {
    margin: 0;
  }
  
  .tiles-verticaltext p {
    visibility: hidden;
  }
  
  .tiles-description {
    max-width: 100%;
    margin: 0.5rem 0 1.5rem 0; 
  }
  
  .work-two, .work-three, .work-four {
    margin: 0;
  }
}


/*

.img-wrapper {
  position: relative;
}

.overlay-one {
  width: 100%;
  height: 100%;
  background: rgba(236, 142, 0, 0.7);
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 2;
}

/* footer */
footer {
  margin: 10% 0;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 900;
  border-top: black 0.1rem solid;
}

footer a {
  padding-right: 2rem;
}



/* projects */


.projects {
  max-width: 1000px;
  margin: 0 auto;
}

.projects img {
  max-width: 100%; 
  align-self: flex-start;
}

.projects-sections {
  padding-bottom: 5%;
}


.projects-flex {
  display: flex;
  padding-bottom: 5%;
}

.projects-textnexttoimage {
  width: 50%;
  padding-right: 3%;
}

.projects-intro {
  padding-bottom: 5%;
  padding-top: 2%;
  
}

.projects-flex a {
  font-weight: 900;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projects-flex {
    display: block;
  }
  
  .projects-textnexttoimage {
    width: 100%;
  }
  
  .projects img {
    max-width: 100%;
    padding-top: 3%;
  }
  
  }


/* Tuesdays Digital Magazine */

table, th, tr, td {
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  padding: 1.5%;
  margin-top: 2%;
  font-size: 0.9rem;
}
th {
  font-size: 1.2rem;
}

.tuesdays p {
  margin-bottom: 2%;
}

.magazine {
  color: black;
  text-align: left;
  padding-top: 5%;
  margin: 0;
}

ul {
  list-style: square;
  margin: 0;
  font-size: 0.9rem;
}

.tuesdays-video {
  padding-bottom: 10%;
  z-index: -1;
}

/* about */

.about-fixed {
  width: 200px;
  height: auto;
  position: fixed;
  top: 0;
  left: 70%;
  margin-top: 5%;
  margin-right: 5%;
  padding-left: 2%;
  border-left: 1px #dcdcdc solid;
}

.about-text p {
  font-size: 1.2rem;
  padding-right: 1rem;
}

main section {
  padding-bottom: 10%;
}

svg {
  margin: 1rem;
}

.about-text {
  max-width: 70%;
}



@media (max-width: 768px) {
  .about-fixed {
    position: unset;
    margin: 0;
    border: unset;
    padding: 0;
    margin: 0;
  }
  
  .about-text {
    max-width: 100%;
    margin-top: 70px;
  }
  
  .about-text p {
  font-size: 1rem;
  padding-right: 0;
}
  
}

/* navigation */

nav {
  width: 100%;
  font-weight: 900;
  
}

.navigation p {
  position: fixed;
  top: 50%;
  border-bottom: 2.1px black solid;
}


.navigation-about {
  transform: rotate(-90deg);
}

.navigation-work {
  right: 10%;
  transform: rotate(90deg);
}

@media (max-width: 960px) {
  .navigation-work {
    right: 5%;
    } 
}
  

@media (max-width: 768px) {
  .navigation p, .navigation-work {
    position: unset;
    transform: unset;
    }
  
  .navigation {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    margin: 0 auto;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
  }
}
  
/* previous and next button */
  
  .other-projects-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  } 
  
  .other-projects {
    width: 100%;
    height: 200px;
    background: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0.7rem;
    transform: scale(1);
    transition: all .5s ease;
  }

.other-projects:hover {
  transform: scale(1.1);
}
.other-projects h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.op-title {
  border-top: black 2px solid;
  padding-top: 1.5rem;
}

.other-projects:hover h4 {
  color: white;
}

.op-atm:hover {
  background: linear-gradient(rgba(255, 165, 0, 1), rgba(255, 0, 0, 1)),
  url(../../images/work-atm-app.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}


.op-armani:hover {
  background: linear-gradient(#00ff81, #00a3bd), url(../../images/work-armani.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}


.op-oakley:hover {
  background: linear-gradient(#ff0000, #ff0000, #9343ff),
  url(../../images/work-oakley.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}


.op-tuesdays:hover {
  background: linear-gradient(#00ffd0, #1434d2),
  url(../../images/work-tuesdays-magazine.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

.op-hiking {
  background: url(../../images/hiking.jpg);
  background-size: cover;
  background-position: center;
  margin: 1rem 2rem 2rem 0;
}

.op-book {
  background: url(../../images/book-design.jpg);
  background-size: cover;
  background-position: center;
  margin: 1rem 2rem 2rem 0;
}

.op-climbing {
  background: url(../../images/climbing.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .other-projects {
    height: 100px;
    background: unset;
    text-decoration: underline;      
  }
  
  .op-title {
    text-align: center;
  }
}


@media (max-width: 768px) {
  .about-interests {
    visibility: hidden;
    overflow: hidden;
  }
  
}




